<main id="contact">
    <video src="assets/videos/background-video.mp4" autoplay muted loop data-aos="fade-up"></video>

    <div>
        <p data-aos="fade-up" data-aos-delay="500">Du möchtest vorran kommen?</p>
        <p data-aos="fade-up" data-aos-delay="1000">Bestimmt.</p>
        <br>
        <p data-aos="fade-up" data-aos-delay="1500">Du willst das es einfach fließt?</p>
        <p data-aos="fade-up" data-aos-delay="2000">Natürlich.</p>
        <br>
        <h2 data-aos="fade-up" data-aos-delay="2500">Dann melde dich für ein Coaching an <br> und wir finden gemeinsam den richtigen Weg!</h2>
    </div>

    <app-contact-form data-aos="fade-up" data-aos-delay="3000" data-aos-duration="3000"></app-contact-form>
</main>