main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  background: radial-gradient(circle at bottom, #004155, #e8ecf1, #e8ecf1);
}

app-contact-form {
  display: flex;
  justify-content: center;
}