main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  background: linear-gradient(#e8ecf185, #004155c7);
  position: relative;
  overflow: hidden;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 1rem;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.textBlock {
  padding: 1rem;
}

p {
  color: rgb(232, 236, 241);
  font-size: 1.5rem;
  text-wrap-style: pretty;
}

h2 {
  color: rgb(232, 236, 241);
  font-size: 2rem;
}

app-contact-form {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  main {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1270px) {
  app-contact-form {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    min-height: 100vh;
  }

  video {
    border-radius: 0;
    padding: 0;
  }

  .textBlock {
    p {
      color: rgb(0, 65, 85);
      font-weight: bold;

      &:nth-of-type(3) {
        text-align: end;
      }

      &:nth-of-type(4) {
        text-align: end;
      }
    }

    h2 {
      color: black;
      text-align: center;
    }
  }

  app-contact-form {
    margin-right: 0;
  }
}