<main>
    <div class="content">
        <div class="headlines">
            <h2>NLP Coach für Ambitinierte</h2>
            <h1>AP Fusion Consulting</h1>
            <h3>By Antonio Pomarico</h3>
        </div>

        <div class="services">
            <div class="serviceCard">Löse Blockaden</div>
            <div class="serviceCard">Erreiche Ziele</div>
            <div class="serviceCard">Lebe erfüllt</div>
        </div>

        <a href="#formular" class="signUpBtn">Melde dich jetzt für ein Coaching an</a>
    </div>

    <div class="heroImage"></div>
</main>