<main>
    <div class="content">
        <div class="headlines">
            <h2>Es ist Zeit, dass DU dich selbst an die erste Stelle setzt!</h2>
            <h1>Mache <i>Dich</i> zur Priorität. Das ist nicht egoistisch, sondern <i>notwendig</i>.</h1>
            <p>Hol dir deinen Fokus zurück und lebe das Leben, das du dir immer vorgestellt hast!</p>
        </div>

        <div class="services">
            <div class="serviceCard">Löse Blockaden</div>
            <div class="serviceCard">Erreiche Ziele</div>
            <div class="serviceCard">Lebe erfüllt</div>
        </div>

        <a href="#contact">Melde dich jetzt für ein Coaching an</a>
    </div>

    <div class="heroImage"></div>
</main>