footer {
  height: 150px;
  // background: linear-gradient(90deg, #e8ecf1, #004155, #e8ecf1);
  background: linear-gradient(#004155c7, #e8ecf185);
  position: relative;
  padding: 1rem;

  a {
    display: flex;
    width: fit-content;
  }
}

img {
  height: 3rem;
  border-radius: 0.5rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}

.copyrightDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    height: 24px;
  }
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  gap: 2rem;

  img {
    opacity: 0.5;
    transition: ease-in-out 250ms;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
      transition: ease-in-out 250ms;
    }
  }
}

.imprint {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  text-decoration: none;
  color: rgb(0, 65, 85);
  transition: ease-in-out 250ms;

  &:hover {
    text-decoration: underline;
    transition: ease-in-out 250ms;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 0;
  }
}

@media screen and (max-width: 728px) {
  footer {
    background: linear-gradient(#004155c7, #e8ecf185);
  }
}

@media screen and (max-width: 426px) {
  footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .links, .logo, .copyrightDiv, .imprint {
    position: static;
  }
}