/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FEF2DC;
}

html {
  font-size: 100%; /* Ensures that 1rem = 16px */
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}